<launch>

<include file="$(find flexbe_onboard)/launch/behavior_onboard.launch" />
<include file="$(find flexbe_app)/launch/flexbe_ocs.launch">
	<arg name = "no_app" value = "false"/>
</include>

<node
name="position_as"
pkg="arm_control_pkg"
type="position_as"
output="screen"
/>

<node
name="approach_as"
pkg="arm_control_pkg"
type="approach_as"
output="screen"
/>

<node
name="grasp_as"
pkg="arm_control_pkg"
type="grasp_as"
output="screen"
/>

<node
name="manipulate_as"
pkg="arm_control_pkg"
type="manipulate_as"
output="screen"
/>

<node
name="release_as"
pkg="arm_control_pkg"
type="release_as"
output="screen"
/>

<node
name="retreat_as"
pkg="arm_control_pkg"
type="retreat_as"
output="screen"
/>

<node
name="scene_constraint_as"
pkg="arm_control_pkg"
type="scene_constraint_as"
output="screen"
/>

<!--
<node
name="serial_node"    
pkg="rosserial_python"    
type="serial_node.py">

<param name="port" type="string" value="/dev/ttyACM0"/>

<param name="baud" type="int" value="57600"/>

</node>
-->

</launch>

